<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.leo.demoplantform"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.BitmapRegionDecoderActivity">
        </activity>
        <activity android:name=".ui.SnackbarActivity">
        </activity>
        <activity android:name=".ui.BitmapHandlerActivity">
        </activity>
        <activity android:name=".ui.ServiceActivity">
        </activity>

        <service android:name=".service.DemoService">
            <intent-filter>
                <action android:name="com.leo.localservice"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".service.DemoIntentService"/>

        <activity android:name=".ui.BlurActivity">
        </activity>
        <activity android:name=".ui.NotificationActivity">
        </activity>
        <activity
            android:name=".ui.TranslucentActivity"
            android:theme="@style/TranslucentTheme">
        </activity>
        <activity android:name=".ui.activityTrasition.Transition1Activity">
        </activity>
        <activity android:name=".ui.activityTrasition.Transition2Activity">
        </activity>
        <activity android:name=".ui.eventBus.EventBusActivity1">
        </activity>
        <activity android:name=".ui.eventBus.EventBusActivity2">
        </activity>
    </application>

</manifest>